.Signupbtn{
    background-color: var(--main-color);
    Height: 48px;
    border-radius: 8px;
    Padding: 14px, 16px, 14px, 16px;
    Gap: 8px;
}
.card-body .top h5 {
    color: var(--primary-color);
    font-family: Rubik;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}
form > div > span.error {
	display: none;
	font-size: 0.8em;
	position: absolute;
}
form > div > input:invalid:not(:focus):not(:placeholder-shown) ~ .error {
	display: block;
	color: red;
}